* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(229, 230, 230);
  overflow-x: hidden;
}

#header-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  margin-top: 20;
  color: white;
  background-image: url("./assets/barcode-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#header-container > h1 {
  background-color: transparent;
  padding-top: 50px;
  font-size: 2.5rem;
}

#instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instructions-title {
  font-size: 1.3rem;
  margin-top: 10px;
}

#instructions-details {
  width: 80%;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

#form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10% auto 0 auto;
  gap: 5px;
}

.form-label {
  font-size: 1.4rem;
}

.form-input {
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 12.5px;
  border: none;
  border-bottom: 2px solid black;
}

#required-container {
  width: 85vw;
  margin: 5% auto 0 auto;
  padding-left: 12.5px;
}

#required-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#required-list {
  font-size: 1.1rem;
}

.required-item {
  margin-bottom: 5px;
  list-style-type: none;
  display: flex;
}

.required-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
  background: url("./assets/important-icon.png") no-repeat center / contain;
}

#buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
}

.button {
  padding: 10px 5px;
  width: 150px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

#result-container {
  width: 90vw;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-shadow: 5px 6px 10px 1px #494444;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-label {
  flex: 1;
  font-size: 1.2rem;
}

.result-input {
  flex: 1;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  padding: 5px 0;
}

#footer-container {
  margin: 15% 0 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  #header-container {
    width: 80vw;
    background-size: auto;
    align-items: center;
    height: 5vh;
    margin: 50px auto 0 auto;
  }

  #header-container > h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 0;
  }

  #instructions-title {
    font-size: 1.8rem;
    margin-top: 50px;
  }

  #instructions-details {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 30px;
  }

  #required-title {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  .required-item {
    margin-bottom: 27.5px;
  }

  #buttons-container {
    margin: 50px 0;
    height: 7.5vh;
  }

  .button {
    font-size: 1.3rem;
    width: 200px;
    height: 75px;
    transition: 0.6s;
  }

  .button:hover {
    box-shadow: 1px 2px 10px #494444;
    background-color: rgb(225, 182, 103);
    color: white;
  }

  #result-container {
    padding: 20px 10px;
  }

  .container {
    flex-direction: row;
    margin: 10px;
  }

  .result-label {
    font-size: 1.3rem;
  }

  .result-input {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-container {
    width: 650px;
    margin-top: 50px;
    box-shadow: 1px 3px 10px 2px grey;
    padding: 20px;
  }

  #header-container {
    width: 80vw;
    background-size: auto;
    align-items: center;
    height: 17.5vh;
    margin: 50px auto 0 auto;
    align-items: flex-start;
  }

  #header-container > h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 70px;
  }

  #required-container {
    width: 85%;
  }

  #result-container {
    width: 70%;
    margin-bottom: 40px;
    box-shadow: none;
  }

  .container {
    flex-direction: column;
  }
}
